@model Superhero.Models.OrgVM

@{
    ViewBag.Title = "AddOrganization";
}

<h2>Add Organization</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3">
                Organization Name @Html.TextBoxFor(o => o.OrganizationName, new { @class = "form-control" })
                @*@Html.ValidationMessageFor(o => o.OrganizationName)*@
            </div>
            <div class="col-xs-3">
                Organization Location @Html.DropDownListFor(o => o.OrganizationLocation.LocationID, Model.LocationList, new { @class = "form-control" })
            </div>
            <div class="col-xs-3">
                Organization Address @Html.TextBoxFor(o => o.OganizationAddress, new { @class = "form-control" })
            </div>
            <div class="col-xs-3">
                Phone @Html.TextBoxFor(o => o.Phone, new { @class = "form-control" })
            </div>
            <div class="col-xs-3">
                Organization Heroes @Html.ListBoxFor(o => o.SelectedHeroesID, Model.HeroList, new { @class = "form-control" })
            </div>           
        </div>
    </div>
    <div class="col-xs-3">
        <button type="submit" class="btn btn-default">Save</button>
    </div>
}
<div class="col-xs-12" id="organizationarea">

</div>
