@model Superhero.Models.HeroVM

@{
    ViewBag.Title = "EditHero";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Edit Hero</h3>
        @Html.ActionLink("Return to List", "HeroList", "Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(h => h.HeroID)
            <div class="form-group">
                <div>
                    <label>Hero Name</label>
                    @Html.TextBoxFor(h => h.HeroName, new { @class = "form-control", placeholder = "HeroName" })
                </div>
                <div>
                    <label>Description</label>
                    @Html.TextBoxFor(h => h.Description, new { @class = "form-control", placeholder = "Description" })
                </div>
                <div>
                    <label>Hero Name</label>
                    @Html.TextBoxFor(h => h.Superpower, new { @class = "form-control", placeholder = "Superpower" })
                </div>
                <div>
                    <label>Hero Organizations</label>
                    @Html.ListBoxFor(h => h.SelectedOrganizationsID, Model.Org, new { @class = "form-control" })
                </div>
                @*<div>
                    Heroes Seen @Html.ListBoxFor(m => m.SelectedHeroesID, new SelectList(Model.SightingHeroes, "HeroID", "HeroName"), new { @class = "form-control" })
                </div>*@

                <button type="submit" class="btn btn-sm btn-primary">Save</button>

            </div>
        }
    </div>
</div>

