<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body style="background-color:azure; position : relative !important">
    @*navigation bar*@
    <div id="nav" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="http://localhost:53579/">
                </a>               
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home Page<span class="caret"></span></a>
                    <ul class="dropdown-menu" id="staticpages">
                        <li>
                        @Html.ActionLink("Home Page", "Index", "Home")
                        </li>
                    </ul>
                </li>
                @if (User.IsInRole("admin"))
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Admin Management
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" id="management">
                            
                            <li>
                                @Html.ActionLink("Hero List", "HeroList", "Admin")
                            </li>
                            <li>
                                @Html.ActionLink("Org List", "OrganizationList", "Admin")
                            </li>
                            <li>
                                @Html.ActionLink("Location List", "LocationList", "Admin")
                            </li>                                                 
                            @*<li>
                                @Html.ActionLink("Add Manager", "AddManager", "Admin")
                            </li>
                            <li>
                                @Html.ActionLink("Remove Manager", "DeleteManager", "Admin")
                            </li>*@
                            <li>
                                @Html.ActionLink("Change Password", "ChangePassword", "User")
                            </li>
                            <li>
                                @Html.ActionLink("Logout", "Logout", "Home")
                            </li>
                        </ul>
                    </li>
                }
                else if (User.IsInRole("User"))
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Sighting Management
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" id="sitemanagement">
                            <li>
                                @Html.ActionLink("Add Sighting", "AddSighting", "User")
                            </li>                          
                            <li>
                                @Html.ActionLink("Change Password", "ChangePassword", "User")
                            </li>
                            <li>
                                @Html.ActionLink("Logout", "Logout", "Home")
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li>
                        @Html.ActionLink("Login", "Login")
                    </li>
                }
            </ul>
        </div>
    </div>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <!--<script src="~/Scripts/jquery-3.2.1.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>   
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/home.js"></script>
    
</body>
</html>