@model IEnumerable<CarDealership.Models.UserVM>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<div>
    @Html.ActionLink("Create New", "AddUser" )
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.FirstName)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.LastName)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Email)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Role)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditUser", new { id = item.Email })
        </td>
    </tr>
}

</table>

</table>
