@model IEnumerable<Superhero.Model.Models.Sighting>

@{
    ViewBag.Title = "Index";
}

</div>
<div class="col-xs-7 divTop">
    <form class="navbar-form navbar-right" onsubmit="return false;">
        <div class="form-group">
            <button class="btn btn-primary" type="button" id="clearSearch">
                <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                Clear Search
            </button>
        </div>
        <button type="submit" class="btn btn-default" onclick="search()">Search</button>
        <div class="form-group">
            <select class="form-control" v-model="searchCategory" id="searchCategory">
                <option value="">Search By&nbsp;&nbsp;</option>
                <option value="Hero">HeroName</option>
                <option value="Organization">OrganizationName</option>
                <option value="Sighting">Date</option>
                <option value="Location">LocationName</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search Term" v-model="searchTerm" id="searchTerm">
        </div>
    </form>
</div>


<div class="col-sm-1 divMain">
</div>
<div class="col-sm-10 divMain" id="SightingsArea">
    <div class="col-xs-12 col-sm-9">
        <div class="row">
            <div class="col-xs-12">
                <h4>Sighting List</h4>
                <p>@Html.ActionLink("Add a Sighting", "AddSighting", "User", null, new { @class = "btn btn-primary" })</p>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Sighting Heroes</th>
                            <th>Sighting Description</th>
                            <th>Location Name</th>                            
                            <th>Location Description</th>
                            <th>Location Address</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var sighting in Model)
                        {
                            <tr>
                                @*var heroes = _heroes.Where(h => h.Organizations.Any(o => o.OrganizationID == OrganizationID));*@
                                <td>@sighting.HeroesAsHtml()</td>
                                <td>@sighting.SightingDescription</td>
                                <td>@sighting.SightingLocation.LocationName</td>
                                <td>@sighting.SightingLocation.LocationDescription</td>
                                <td>@sighting.SightingLocation.LocationAddress</td>
                                <td>@sighting.SightingLocation.LatitudeCoordinate</td>
                                <td>@sighting.SightingLocation.LongitudeCoordinate</td>
                                <td>@sighting.Date</td>
                                <td>
                                    @Html.ActionLink("Edit", "EditSighting", "User" , new { SightingID = sighting.SightingID }, null) |
                                    @Html.ActionLink("Delete", "DeleteSighting", "Admin", new { SightingID = sighting.SightingID }, null)
                                </td>
                            </tr>                            
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>