@model Superhero.Models.HeroVM

@{
    ViewBag.Title = "AddHero";
}

<h2>AddHero</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3">
                Hero Name @Html.TextBoxFor(h => h.HeroName, new { @class = "form-control" })
                @Html.ValidationMessageFor(h => h.HeroName)
            </div>            
            <div>
                This Heroes' Organizations @Html.DropDownListFor(h => h.SelectedOrganizationsID, Model.Org, new { @class = "form-control" })
            </div>
            <div class="col-xs-3">
                Superpower @Html.TextBoxFor(h => h.Superpower, new { @class = "form-control" })
            </div>
            <div class="col-xs-3">
                Description @Html.TextAreaFor(h => h.Description, new { @class = "form-control" })
            </div>            
        </div>
    </div>
    <div class="col-xs-3">
        <button type="submit" class="btn btn-default">Save</button>
    </div>
}
<div class="col-xs-12" id="heroarea">

</div>
